{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="makegap"></div>
    <div class="row text-center">
        <div class="col-sm-12">
            <h2>Add New Movie</h2>
        </div>
    </div>
    <form name="MovieListForm" class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group form-row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <label for="movietitle">Title of the Movie</label>
                <input class="form-control" type="text" placeholder="Write the movie name...." name="title" id="movietitle">
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <label for="movieyear">Release Year</label>
                <input class="form-control" type="number" placeholder="2018" name="year" id="movieyear" min=1950 max=2019>
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <label for="movieplot">Plot</label>
                <textarea class="form-control" name="plot" id="movieplot" rows=4 placeholder=" Big Plot Here..."></textarea>
            </div>
        </div>

        <div class="form-group form-row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
            <label for="actorselect">Select Movie Cast</label>
            <small id="actortip" class="form-text text-muted">You can select Multiple Cast by Holding Ctrl/Cmd</small>
                <div>{{ form.actor|safe }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>Didn't find the desired actor? Add New</p>
                <a class="btn btn-success" href="{% url 'add_actor' %}">Add Actor</a>
            <div>
        </div>
        <div class="makegap"></div>
        <div class="row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Add Movie</button>
                <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
