{% extends "base.html" %}
{% load static %}
{% block content %}
   {% if movie %}

    <div class="container">
        <div class="makegap"></div>
        <div class="row text-center">
            <div class="col-sm-12">
                <h2>Edit Movie</h2>
            </div>
        </div>
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form-group form-row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <label for="movietitle">Title of the Movie</label>
                    <input class="form-control" type="text" placeholder="{{movie.title}}" name="title" id="movietitle" value={{movie.title}}>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <label for="movieyear">Release Year</label>
                    <input class="form-control" type="number" placeholder="{{movie.year}}" name="year" id="movieyear" min=1950 max=2019 value={{movie.year}}>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <label for="movieplot">Plot</label>
                    <textarea class="form-control" name="plot" id="movieplot" rows=4 placeholder="{{movie.plot}}">{{movie.plot}}</textarea>
                </div>
            </div>

            <div class="form-group form-row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                <label for="actorselect">Select Movie Cast</label>
                <small id="actortip" class="form-text text-muted">You can select Multiple Cast by Holding Ctrl/Cmd</small>
                    <div>{{ form.actor|safe }}</div>
                </div>
                <div class="col-sm-4">
                  <u><b>Actors Already Present</b></u>
                  <ul>
                  {% for artist in movie.roles_set.all %}
                    <li>{{artist.actor.name}}</li>
                  {% endfor %}
                  </ul>
                </div>
            </div>
            <div class="makegap"></div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Done</button>
                    <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

{% endblock %}
